<div [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <input matInput
           [placeholder]="titulo"
           [name]="controlName"
           [formControlName]="controlName">
    <mat-error *ngIf="validacao.hasErrorValidate(formControl,'required')">Obrigátorio</mat-error>
    <mat-error *ngIf="validacao.hasErrorValidate(formControl,'minlength')">
      Campo Deve ter Minimo {{validacao.lenghtValidar(formControl,'minlength')}} caracteres
    </mat-error>
    <mat-error *ngIf="validacao.hasErrorValidate(formControl,'maxlength')">
      Campo Deve ter Maximo {{validacao.lenghtValidar(formControl,'maxlength')}} caracteres
    </mat-error>
  </mat-form-field>

</div>
