<div [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <input matInput
           type="number"
           [min]="minimo"
           [max]="maximo"
           [step]="step"
           [placeholder]="titulo"
           [name]="controlName"
           [formControlName]="controlName">
    <mat-error *ngIf="validacao.hasError(formControl,'required')">Obrigátorio</mat-error>
    <mat-error *ngIf="validacao.hasError(formControl,'min')">Precisa ter minimo valor 0</mat-error>
    <mat-error *ngIf="validacao.hasError(formControl,'max')">Campo valor maximo a 10</mat-error>
  </mat-form-field>
</div>
